.SwiperCardContainer {
    width: 100%;
    height: 27%;
    border-radius: 40px;
    opacity: 0.8;
    
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      align-items: center;
    }
  
    .append-buttons {
      text-align: center;
      margin-top: 100px;
    }
  
    .append-buttons button {
      display: inline-block;
      cursor: pointer;
      border: 1px solid #007aff;
      color: #007aff;
      text-decoration: none;
      padding: 4px 10px;
      border-radius: 4px;
      margin: 0 10px;
      font-size: 13px;
    }
  
    //   swiper-slider style end
  
    .SwiperCard {
      position: relative;
     
      width: 30% !important;
      border-radius: 50px;
    }
  
    .SwiperCardTitle {
      font-size: 14px;
      font-weight: 600;
      position: absolute;
      bottom: 0px;
      padding: 5px;
      background-color: zrgba(0, 0, 0, 0.4);
      color: #b6a1a1;
      border-radius: 10px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      box-orient: vertical;
      -webkit-box-orient: vertical;
    }
  
    .SwiperCardImg {
      position: absolute;
      top: 15px;
      object-fit: cover;
      height: 80%;
      border-radius: 20px;
    }
  }
  