/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  --Primary-bg: linear-gradient(
    189deg,
    rgba(43, 12, 35, 1) 0%,
    rgba(5, 1, 19, 1) 100%
  );

  --primary-white-text: #fff;
  --primary-black-text: black;
  --ion-background-color: white;
  --primary-danger-text: #cc0000;
}

@layer base{
  body{
    @apply font-poppins text-[16px] tracking-[-0.03em] text-gray-400;

  }
}